@import '{reywood:bootstrap3-sass}/bootstrap';
@import '_variables.scss';
@import '_bootswatch.scss';
//@import '{reywood:font-awesome-sass}/font-awesome';

html, body {
  height: 100%;
}

.jumbotron.vertical-center {
  margin-bottom: 0;
}

a {
  &:focus, &:active {
    outline: 0;
  }
}

img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  .container {
    div {
      text-align: center;
      span {
        display: inline-block;
        margin: auto;
      }
    }
  }
}

#loginbar {
  .btn {
    margin-left: 10px;
  }
}

.well {
  h3 {
    margin: 0;
    font-size: 30px;
  }
}

h2 {
  a {
    margin-left: 10px;
  }
}

h3 {
  span {
    font-size: 14px;
    color: #666666;
  }
}

h4 {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: strong;
}

body {
  .modal {
    display: block;
  }
}